<IfModule mod_rewrite.c>

#author Rolando Arriaza
#configuracion apache .htaccess
#version 1.0

RewriteEngine on

#AllowOverride All
#SERVIDOR LOCAL
#SERVIDOR WEB 
#RewriteBase /

#CONFIGURACION URL PARA SISTEMA DE ARCHIVOS MVC
RewriteRule ^(application|system|\.svn) index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|public|images|robots\.txt|css)


#SERVIDOR LOCAL , ARVIXE , HOSTGATOR ETC.
RewriteRule ^(.*)$ index.php/$1 [L]

#GODADDY DESCOMENTAR Y COMENTAR SERVIDOR LOCAL
#RewriteRule ^(.*)$ index.php?/$1  [QSA,L]


</IfModule>


